conda.enabled = true
conda.useMamba = false
conda.createOptions = '--yes'
mamba.createOptions = '--yes'
stageInMode = 'copy'

profiles {
    test_lcms {
        conda.createOptions = '--yes'
        mamba.createOptions = '--yes'
        process.executor = 'local'
        params.inputfiles1 = "/mnt/c/test_data/no_ms2/exctrl/"
        params.inputfiles2 = "/mnt/c/test_data/no_ms2/sample/"
        params.normalize_ints = 1
        params.peak_value = 'peak_area'

        params.inputfiles1_name = "exctrl"
        params.inputfiles2_name = "sample"

        // Analysis Parameters
        params.mz_tolerance = 10
        params.rt_min = 1
        params.rt_max = 9
        params.pk_height_min = 1e4
        params.num_data_min = 5
        params.frag_mz_tol = 0.05
        params.msms_score_min = 0.5
        params.msms_matches_min = 3

        // FTICR Parameters
        params.fticr = 0
        params.formula_match = 0

        // Cosmograph Parameters
        params.max_log_change = 0.5

        // Pathway and Set Cover Parameters
        params.max_pval = 0.05
    }

    test_fticr {
        conda.createOptions = '--yes'
        mamba.createOptions = '--yes'
        process.executor = 'local'
        params.inputfiles1 = "/mnt/c/test_data/fticr/"
        params.inputfiles2 = ""
        params.normalize_ints = 0
        params.peak_value = 'peak_height'

        params.inputfiles1_name = "(norderney)"
        params.inputfiles2_name = "North Pacific Deep Water"

        // Analysis Parameters
        params.mz_tolerance = 0.75
        params.rt_min = 0.5
        params.rt_max = 10
        params.pk_height_min = 1
        params.num_data_min = 5

        // FTICR Parameters
        params.fticr = 1
        params.formula_match = 1

        // Cosmograph Parameters
        params.max_log_change = 0.2

        // Pathway and Set Cover Parameters
        params.max_pval = 0.05
    }
}
